@import "../app.component.scss";

.content-application {
    padding: $header-heigth 10px 0 10px;
    height: 100vh;
    margin: 15px auto 0 auto;

    @include mq-up(xs) {
        padding: $header-heigth-bit-resolutions 20px 0 20px;
        max-width: 1200px;
    }

    @include mq-up(md) {
        padding: $header-heigth-bit-resolutions auto 0 auto;
    }
}
