<mat-card *ngIf="pokemon" class="detail-card">
  <div class="title">
    <span class="name"> Nombre: {{ pokemon.name | titlecase }} </span>
    <span class="id"> Id: {{ pokemon.id }} </span>
    <span class="height"> Altura: {{ pokemon.height }} </span>
    <span class="weight"> Peso: {{ pokemon.weight }} </span>
  </div>

  <h3 *ngIf="pokemon.types && pokemon.types.length > 0">
    <mat-icon aria-hidden="false" aria-label="Tipos">accessibility</mat-icon>
    Tipos:
  </h3>
  <ul class="detail-list">
    <li *ngFor="let type of pokemon.types" class="item">
      {{ type.name }}
    </li>
  </ul>

  <h3 *ngIf="pokemon.moves && pokemon.moves.length > 0">
    <mat-icon aria-hidden="false" aria-label="Movimientos">directions_run</mat-icon>
    Movimientos:
  </h3>
  <ul class="detail-list">
    <li *ngFor="let move of pokemon.moves" class="item">
      {{ move.name }}
    </li>
  </ul>
</mat-card>

<mat-card *ngIf="!pokemon" class="detail-card"><ngx-skeleton-loader count="5" ></ngx-skeleton-loader></mat-card>