@import "../../app.component.scss";

.detail-card {
    .title {
        font-size: 1.5rem;
        font-weight: bold;
        display: grid;
        grid-template-areas: "name"
                             "id"
                             "height"
                             "weight";

        .name {
            grid-area: name;
        }
        .id {
            grid-area: id;
        }
        .height {
            grid-area: height;
        }
        .weight {
            grid-area: weight;
        }

        @include mq-up(us) {
            grid-template-areas: "name id"
                             "height weight";
            justify-content: space-between;
        }

        @include mq-up(sm) {
            grid-template-areas: "name id height weight";
        }
        
    }
    .detail-list {
        display: flex;
        flex-wrap: wrap;
        .item {
            margin-right: 30px;
        }
    }

    @include mq-up(md) {
        .title {
            justify-content: center;
        }
        .title>span {
            margin-right: 40px;
        }
    }
}
