<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="user-data-form">
  <h1>Datos del usuario</h1>
  <mat-form-field>
    <input type="text" name="fullName" id="fullName" matInput placeholder="Nombre Completo *"
      formControlName="fullName">
  </mat-form-field>
  <mat-form-field>
    <input type="email" name="email" id="email" matInput placeholder="Correo Electrónico *" formControlName="email">
  </mat-form-field>
  <span *ngIf="form.controls.email.errors?.email" class="error-text">{{ invalidEmail }}</span>
  <mat-form-field>
    <input type="password" name="password" id="password" matInput placeholder="Nueva Contraseña" formControlName="password"
      (blur)="addValidationPassword()">
  </mat-form-field>
  <span *ngIf="form.controls.password.errors?.password" class="error-text"> {{ invalidPassword }} </span>
  <mat-form-field>
    <input type="password" name="passwordRepeat" id="passwordRepeat" matInput
      placeholder="Por favor repita la nueva contraseña *" formControlName="passwordRepeat"
      (blur)="addValidationReapeatPassword()">
  </mat-form-field>
  <span *ngIf="form.controls.passwordRepeat.errors?.passwordRepeat" class="error-text"> {{ invalidRepeatPassword }}
  </span>

  <mat-form-field>
    <input type="password" name="currentPassword" id="currentPassword" matInput placeholder="Contraseña Actual *"
      formControlName="currentPassword" (blur)="addValidationCurrentPassword()">
  </mat-form-field>
  <span *ngIf="form.controls.currentPassword.errors?.passwordNotEqual" class="error-text"> {{ passwordNotEqual }} </span>
  <span *ngIf="form.controls.currentPassword.errors?.passwordRepeat" class="error-text"> {{ passwordRepeat }} </span>

  <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Guardar</button>
</form>