<header class="content-header">
  <img src="../../../assets/images/pokemon-title.png" alt="Página de inicio" class="home-button" [routerLink]="[homeLink]">
  <section class="session">
    <section [routerLink]="[userLink]" class="user-data">
      <mat-icon aria-hidden="true" aria-label="Datos de usuario">perm_identity</mat-icon>
      <label> {{ user?.name }} </label>
    </section>
    <a class="logout" (click)="signOut()">cerrar sesión</a>
  </section>
</header>
