@import "../../app.component.scss";

.content-header {
    height: $header-heigth;
    background-color: #9A2000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    .home-button {
        margin-left: 10px;
        width: 200px;
        cursor: pointer;
        outline: none;
    }
    .home-button:hover {
        color:#ffffff;
    }
    .session {
        display: flex;
        flex-direction: column;
        align-items: center;
        .user-data {
            display: flex;
            margin-bottom: 10px;
            margin-top: 10px;
        }
        .logout {
            cursor: pointer;
            text-decoration: underline;
        }
    
        .logout:hover {
            color:#ffffff;
        }
    }    

    @include mq-up(xs) {
        height: $header-heigth-bit-resolutions;
        flex-direction: row;
        .session {
            margin-left: auto;
            margin-right: 10px;
            align-items: flex-end;
        }
    }
}
