<section class="dashboard">
  <section class="dashboard-search">
    <app-dashboard-search (searchName)="searchByName($event)"></app-dashboard-search>
  </section>
  <article class="dashboard-content">
    <app-dashboard-content [searchName]="searchName"></app-dashboard-content>
  </article>
</section>
