<div class="dashboard-contentcard">
  <mat-card *ngFor="let pokemon of pokemons; trackBy: trackByFunction" (click)="verPokemon(pokemon)" class="dashboard-card">
    <h3>
      {{ pokemon.name | titlecase }}
    </h3>
    <span class="dashboard-card--more">Ver más</span>
  </mat-card>
  <mat-card *ngIf="!pokemons || pokemons.length === 0" class="detail-card"><ngx-skeleton-loader count="5" ></ngx-skeleton-loader></mat-card>
</div>

<button mat-raised-button *ngIf="pokemonListSearch?.nextSearch" 
  type="button"
  class="dashboard-load-more"
  color="primary"
  (click)="verMasPokemon()">
    Ver más
</button>

