@import "../../../app.component.scss";

.dashboard-contentcard {
    display: flex;
    flex-direction: column;
    .dashboard-card {
        display: flex;
        cursor: pointer;
        margin-bottom: 20px;
        .dashboard-card--more {
            margin-left: auto;
        }
    }
    
    .dashboard-card:hover {
        background-color: #EEEEEE;
    }

    @include mq-up(sm) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .dashboard-card {
            min-width: 200px;
        }
    }

    @include mq-up(md) {
        .dashboard-card {
            min-width: 250px;
            max-width: 350px;
        }
    }
}

.dashboard-load-more {
    width: 100%;
}
