<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="dashboard-search-form">
  <mat-form-field class="dashboard-search--input">
    <input type="text" matInput formControlName="searchText" placeholder="Busca por el nombre del pokemon">
  </mat-form-field>
  <button mat-raised-button type="submit" class="dashboard-search--button" color="primary" [disabled]="!form.controls.searchText.value">Buscar</button>
</form>
