@import "../../../app.component.scss";

.dashboard-search-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .dashboard-search--input {
        width: 100%;
    }
    
    .dashboard-search--button {
        width: 100%;
        margin-bottom: 20px;
    }

    @include mq-up(xs) {
        flex-direction: row;
        justify-content: center;
        .dashboard-search--input {
            margin-right: 10px;
        }
        .dashboard-search--button {
            width: 20%;            
        }
    }
}

