<main class="authentication-container">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="authentication-form">
    <h1>Registro</h1>
    <mat-form-field>
      <input type="text" name="fullName" id="fullName" matInput placeholder="Nombre Completo *" formControlName="fullName">
    </mat-form-field>
    <mat-form-field>
      <input type="email" name="email" id="email" matInput placeholder="Correo Electrónico *" formControlName="email" (blur)="addValidationEmail()">
    </mat-form-field>
    <span *ngIf="form.controls.email.errors?.email" class="error-text">{{ invalidEmail }}</span>
    <mat-form-field>
      <input type="password" name="password" id="password" matInput placeholder="Contraseña *" formControlName="password" (blur)="addValidationPassword()">
    </mat-form-field>
    <span *ngIf="form.controls.password.errors?.password" class="error-text"> {{ invalidPassword }} </span>
    <mat-form-field>
      <input type="password" name="passwordRepeat" id="passwordRepeat" matInput placeholder="Por favor repita su contraseña *" formControlName="passwordRepeat"
      (blur)="addValidationReapeatPassword()">
    </mat-form-field>
    <span *ngIf="form.controls.passwordRepeat.errors?.passwordRepeat" class="error-text"> {{ invalidRepeatPassword }} </span>

    <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Registrate!</button>
  </form>
  <br>

  <section class="authentication-register">
    <label>
      ¿ya tienes una cuenta?
    </label>
    <a [routerLink]="[loginLink]">
      Ir al login
    </a>
  </section>
</main>