<main class="authentication-container">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="authentication-form">
    <h1>Login</h1>
    <mat-form-field>
      <input type="email" name="email" id="email" matInput placeholder="Correo Electrónico" formControlName="email" (blur)="addValidationEmail()">
    </mat-form-field>
    <span *ngIf="form.controls.email.errors?.email" class="error-text"> {{ invalidEmail }} </span>
    <mat-form-field>
      <input type="password" name="password" id="password" matInput placeholder="Contraseña" formControlName="password">
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Ingresa</button>
  </form>
  <br>

  <section class="authentication-register">
    <label>
      ¿no tienes una cuenta?
    </label>
    <a [routerLink]="[registerLink]">
      registrate
    </a>
  </section>
</main>