html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-text {
    color: #DE062D;
    margin-top: -15px;
    margin-bottom: 10px;;
    text-align: left;
}
