@import "../../app.component.scss";

.authentication-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    text-align: center;
    margin-top: 40px;
    margin-left:  10px;
    margin-right:  10px;
    border-radius: 30px;
    box-shadow: 4px 5px 5px 0px rgba(0,0,0,0.7);
    height: 400px;

    @include mq-up(md) {
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        height: 500px;
    }
}
.authentication-form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.authentication-register {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}